
.App {
  text-align: center;
}

.mainPage{
  text-align: center;
}
.mainPageHeading{
  font-size: 35px;
  padding-bottom: 3px;
  
}
.mainPagePara{
  width:300px;
  margin-left: 42%;
}
.sliceOneImage{
  width: 70%;
  height: 500px;
}
.sliceTwo-content{
  display:flex;
  align-items:center;
 width: 70%;
  margin-left:15%;
  margin-top:5%;
}
.sliceTwo-title{
  width:50%;
  text-align: justify;
  margin-left: 20%;
}
.sliceTwo-para{
  width:50%;
  text-align: justify;
  margin-left: 20%;
}


.sliceThree-content{
  margin-top:5%;
}
                

.sliceThree-Image{
 margin-right: 80px;
 margin-top:10px;
}
.sliceTwo-gallery{
  margin-right: 80px;
}